/* v1.0 | 20080212 */

html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, font, img, ins, kbd, q, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #518FD9;
}

a:hover {
	color: #65BAF3;
}

sup, sub {
	font-size: 0.8em;
}

sup { vertical-align: super; }
sub { vertical-align: sub; }

sub a, sup a {
	text-decoration: none;
}

#container {
	font-family: Arial, sans-serif;
	margin-bottom: 80px;
}

#header {
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	background-color: #fcfcfc;
}

#header h1 {
	margin: 0 auto 10px;
	font-size: 44px;
}

#header #sub {
	color: #999;
	font-weight: bold;
}

/* StackExchangeScripts name! */

span.w1 { color: #84D2E9; }
span.w2 { color: #65BAF3; }
span.w3 { color: #518FD9; }
span.w4 { color: #205196; }

.inline-notice {
	padding: 2px 5px;
	background: #518FD9;
	color: #fff;
	font-weight: bold;
	font-size: 0.9em;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/* Homepage */

#nav {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-top: 45px;
}

#nav li {
	display: inline-block;
}

#nav li a {
	display: block;
	color: #bbb;
	padding: 8px 18px 16px;
	text-decoration: none;
}

#nav li a:hover,
#nav li a:active {
	color: #666;
}

#content {
	width: 600px;
	margin: 0 auto;
}

#content div {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#content {
	color: #666;
	line-height: 1.5em;
}

#content p,
#content ul,
#content ol {
	margin-bottom: 18px;
}

#content ol {
	list-style: decimal outside none;
}

#content ul {
	list-style: square outside none;
}

#content ol li,
#content ul li{
	line-height: 1.4em;
	margin-bottom: 6px;
}

#content h3 {
	font-size: 16px;
	margin-bottom: 6px;
}

#content h2 {
	font-size: 24px;
	margin: 16px 0 20px;
}

#content #feature ul {
	list-style: none;
}

#content #feature ul li {
	line-height: 1.5em;
	margin-bottom: 8px;
}

#content #contribute {
	overflow: hidden;
	padding-bottom: 0;
}

#content #contribute-right,
#content #contribute-left {
	float: left;
	width: 285px;
	padding-top: 0;
	border-bottom: 0;
	margin-right: 30px;
}

#content #contribute-right {
	margin-right: 0;
}

#content #contribute strong.or {
	display: block;
	text-align: center;
	margin: 3px 0 12px;
	color: #ccc;
}

#content #contribute > h3 {
	clear: both;
	margin: 30px 0 6px;
}

#content #contributors {
	margin-bottom: 0;
}

#content #contributors li {
	padding: 7px 10px 10px;
	border-top: 1px dotted #ccc;
	margin: 0;
	position: relative;
	list-style: none;
}

#content #contributors li:first-child {
	border: 0;
}

#content #contributors li:hover {
	background-color: #efefef;
}

#content #contributors li img {
	float: left;
	margin-right: 10px;
	padding: 2px;
	border: 1px solid #ddd;
	background: #fff;
}

#content #contributors li p {
	margin: 0;
}

#content #contributors li a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 18px 20px 0 0;
	text-align: right;
	
	color: #6C0000;
	font-size: 13px;
	text-decoration: none;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	display: none;
}

#content #contributors li a:after {
	content: '\25B6';
	font-size: 10px;
	margin-left: 4px;
	vertical-align: 2px;
	
}

#content #contributors li:hover a {
	display: block;
}

/* Footer */
#footer {
	text-align: center;
	width: 530px;
	margin: 0 auto 50px;
	font-size: 14px;
	line-height: 1.4em;
	color: #bbb;
}